= apple_icon_link_tag(:png, '/apple-touch-icon-144x144-precomposed.png', sizes: '144x144')
= apple_icon_link_tag(:png, '/apple-touch-icon-120x120-precomposed.png', sizes: '120x120')
= apple_icon_link_tag(:png, '/apple-touch-icon-114x114-precomposed.png', sizes: '114x114')
= apple_icon_link_tag(:png, '/apple-touch-icon-72x72-precomposed.png',   sizes: '72x72')
= apple_icon_link_tag(:png, '/apple-touch-icon-57x57-precomposed.png',   sizes: '57x57')
