= icon_link_tag(:svg, '/favicon.svg',       sizes: 'any')
= icon_link_tag(:png, '/favicon-48x48.png', sizes: '48x48')
= icon_link_tag(:png, '/favicon-32x32.png', sizes: '32x32')
= icon_link_tag(:png, '/favicon-24x24.png', sizes: '24x24')
= icon_link_tag(:png, '/favicon-16x16.png', sizes: '16x16')
